<%@album = Album.first%>
<%= render @album %>


  <%= render partial: "photos/form"%>

<div id="photo">
<%# <%@album = Album.first.order(position: :asc)%> 
<%@album.photos.order(position: :asc).each do |photo|%>

    <%= render "photos/draggable",photo: photo,album: @album%>
    
  <!--  <%if photo.image.attached?%>
         
              <%=image_tag photo.image,width: "200px"%>
        
    <%end%> -->
    <br>
  <%end%>
    </div>
    <style>
  #photo {
    display: flex;
    flex-wrap: wrap;
  }
    </style>