<p style="color: green"><%= notice %></p>

<%= render @album %>
<div id="foo">
  <%= render partial: "photos/form"%>
</div>  
<div id="bar">
<%@album.photos.order(position: :asc).each do |photo|%>
    <%= render "photos/draggable",photo: photo%>
<%end%>
</div>

<style>
  #foo{
    text-align: center;
  }
  #bar{
    display: flex;
  }
</style>
